*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}

body{
    background:  #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.page{
    position: relative;
    background: #fff;
    width: 100%;
    max-width: 1000px;
    border-right: 50px solid #fff ;
    border-left: 50px solid #fff ;
}

.top{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 40px;
    padding-bottom: 0;
}

.img__box{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    
}

.box{
    position: relative;
    width: 70%;
    min-width: 200px;
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1;
    min-width: 200px;
}

figure >  img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.perfil_text{
    display: flex;
    padding: 30px;
    align-items: center;
    flex-direction: column;
}

.perfil_text   h3{
    font-size: 3em;
    letter-spacing: 0.1em ;
    line-height: 1.2em;
    font-weight: 600;
    color: #333;
}

.perfil_text   h3 span{
    position: relative;
    font-size: 0.5em;
    font-weight: 300;
    top: -10px;
}

.content_profile{
    position: relative;
    min-width: 500px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 40px 40px;
}
.content_profile h3{
    border-left:  4px solid #ff8bb3;
    padding-left: 10px;
    line-height: 1em; 
    font-weight: 600;
    color: #333;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
    margin-top: 50px;
    text-transform: capitalize;
}

.content_profile ul{
    position: relative;
    margin: 10px 0;
}

.content_profile ul li{
    list-style: none;
    margin: 25px 0;
    line-height: 1em;
    cursor: pointer;
    display: flex;
    color: #333;
}

.content_profile ul li a{
    color: #333;

}

.content_profile ul li ion-icon{
    font-size: 1.2em;
    margin-left: 10px;
    color: #3590d2;
    
}

ion-icon{
    padding-left: -5px;
}

.educacion li{
    display: flex;
    flex-direction: column;
    margin: 25px 0;
}

h5{
    color: #3590d2;
}

h4{
    color: #333;
    font-weight: 500;
    margin: 5px 0;
}

h6{
    color:#666;
    font-weight: 300;
    font-size: 1em;
}

.porcentaje{
    position: relative;
    width: 100%;
    background: #e3e3e3;
    height: 6px;
    margin-top: 15px;
    margin-bottom: 10px;
    display: block;
    overflow: hidden;
}

.porcentaje div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #3590d2;
}

p{
    font-style: 300;
}
.righ_Side{
    padding-left: 40px;
}

.about  .box1{
    display: flex;
    flex-direction: column;
    margin: 8px 0;
}

.box1 p{
    text-align: justify ;
}

.about  .box1 .year{
    min-width: 150px;
    margin-bottom: 10px;
}

.about  .box1 .year h5{
    color: #333;
    font-weight: 600;
}

.about  .box1 .year h5:nth-child(1){
    color: #3590d2;
    margin-bottom: 15px;
    
}

.about > .box1 .text h4{
   
    color: #3590d2;
    font-size: 16px;
    margin-bottom: 5px;
}
.skills .box1{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.about .skills .box1 h4{
    color: #333;
    font-weight: 500;
    margin-bottom: 0px;
}

.about .skills .box1 .porcentaje {
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
    background: #e3e3e3;
    color: #333;
}

.about .skills .box1 .porcentaje div{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    background-color: #3590d2;
}
 
footer{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    padding: 40px;
}
footer > h3{
    border-left:  4px solid #ff8bb3 ;
    padding-left: 10px;
    border-right:  4px solid #ff8bb3 ;
    padding-right: 10px;
    line-height: 1em; 
    font-weight: 600;
    color: #333;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
    margin-top: 50px;
    text-transform: capitalize;
    cursor: pointer;
  
}